@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 400;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #555;
}

body {
  display: grid;
  grid-template: 40px auto / 225px auto;
  height: 100vh;
  width: 100vw;
}

.header {
  background-color: #38bdf8;
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 4px;
}

.logo {
  height: 36px;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.navbar {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 16px;
  font-size: 1.25em;
  font-weight: bold;
}

.project {
  display: flex;
  justify-content: space-between;
}

.home,
.week,
.month,
.project p,
.add,
.edit,
.delete,
.checkbox {
  cursor: pointer;
}

.home:hover,
.week:hover,
.month:hover,
.project p:hover {
  color: black;
  scale: 105%;
  padding-left: 8px;
}

.add,
.edit,
.delete,
.checkbox {
  height: 24px;
  width: 24px;
}

.add:hover,
.edit:hover,
.delete:hover,
.checkbox:hover,
.newProject:hover {
  color: black;
  filter: brightness(0%);
}

.projects {
  padding-top: 12px;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  gap: 8px;
}

.project {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: scroll;
}

.newProject {
  display: flex;
  font-size: .8em;
  align-items: center;
  cursor: pointer;
  width: fit-content;
}

.todo {
  padding: 8px;
  border-radius: 8px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  min-width: 225px;
}

.low {
  background-color: rgba(0, 255, 0, 0.6);
}

.medium {
  background-color: rgba(255, 255, 0, 0.75);
}

.high {
  background-color: rgba(255, 0, 0, 0.25);
}

.dueContainer,
.priorityContainer,
.projectContainer {
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
  gap: 6px;
}

.checkbox {
  justify-self: end;
}

.complete {
  filter: opacity(.5);
}

.selected {
  color: black;
  scale: 105%;
  padding-left: 8px;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-top: 8px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: white;
  margin: 30vh auto;
  padding: 16px 24px;
  border: 1px solid #888;
  width: 250px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animate;
  animation-duration: 0.4s
}

@keyframes animate {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

form {
  display: grid;
  grid-template-columns: 50px auto;
  gap: 8px;
  margin-top: 12px;
  justify-items: start;
  align-items: center;
}

form button {
  grid-column: 1 / 3;
  justify-self: center;
}

form p {
  grid-row: 3 / 6;
  padding-bottom: 4px;
}

.close {
  float: right;
  font-size: 18px;
  font-weight: bold;
}

.close:hover, 
.close:focus {
  cursor: pointer;
}

.modal-header {
  text-align: center;
}